body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

div {
    border: 1px black solid;
}

.login-container {
    display: flex;
    justify-content: flex-end;

}

.library-container {
    height: 50%;
    display: flex;

}

.concept-container {
    flex: 1;
    text-transform: capitalize;
}

.content-container {
    flex: 1;
}

.content-item {
    display: flex;
    align-items: center;
}

.content-item>a {
    flex: 8;
}

.saved {
    color: orange;
}

.star-image {
    border: 1px black solid;
}