/* Color Scheme

Red #EA0F0B
Dark Blues #000022 #010131
Gold #FFD447
White #FFFFFF
 */


body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0; padding: 0;
  }
   
#background-overlay {
    overflow: hidden;
    height: 100vh;
    background: #edeae8;
    position: relative;
}
   
video {
    position: absolute;
     
    /* Vertical and Horizontal center*/
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    /* establishes a semi-responsive background */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h4 {
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
}

.library-links {
    display: flex;
}

.library-links>p {
    margin: 0;
}

#landing {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.title {
    position: relative;
    font-size: 110px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    color: rgb(235, 92, 90);
    text-shadow: 1px 1px 3px rgba(234, 15, 11, 0.315);
    left: -2%
    /* top: 50%;
    left: 48%;
    transform: translate(-50%, 0); */
}

.title:hover {
    cursor: crosshair;
    /* text-shadow: 1px 1px 1px 1px rgb(20, 20, 199); */
}

.title::selection {
    background-color: #EA0F0B;
}

#laptop {
    max-height: 175px;
    max-width: 175px;
}

#lab {
    font-weight: 600;
    font-style: italic;
    color: rgb(238, 56, 53);
}

#lab::selection {
    background-color: #000022;
}

#login-prompts{
    position: relative;
    margin: auto 0;
}


.uk-button {
    transition: 0.2s ease-in-out;
}

.uk-button:hover {
    background-color: #010131d7;
}

.uk-button:active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    background-color: #010131d7;
}

#password, #username, #submit-login, #sign-up-button{
    border-radius: 20px;
    /* transition: 0.2s ease-in-out; */
    opacity: 0.9;
}

#password:focus, #username:focus{
    border: 2px solid rgba(234, 15, 11, 0.658);
    opacity: 0.95;
}

.login-container {
    display: flex;
}

.library-container {
    height: 50%;
    display: flex;

}

.user-library-container {
    display: none;
    height: 400px;
}

.concept-container {
    flex: 1;
    text-transform: capitalize;
}

.concept-category {
    text-transform: capitalize;
}

.content-container {
    flex: 2;
}

.content-item {
    /* display: flex;
    align-items: center; */
}

.content-item>a {
    flex: 8;
}

/* MODIFIERS */

.active {
    background-color: rgba(234, 15, 11, 0.781);
    color: white;
}

.saved {
    color: #FFD447;
    size: 1.1em;
    transition: 0.2s ease;
}

/* .closed {
    display: none;
} */

/* MODALS */

.uk-offcanvas-bar {
    background-color: #000022;
    opacity: 0.95;
}

.sign-up-modal {
    background-color: #00002242;
    opacity: 0.95;
}

.uk-modal-header {
    background-color: #000022;
}

.uk-modal-header h2 {
    color: white;
}


#sign-up-submit {
    transition: 0.1s ease-in;
}

#sign-up-submit:hover {
    background-color: rgba(234, 15, 11, 0.781);
    letter-spacing: 2px;
    color: rgb(195, 200, 240);
    font-size: 1.1em;
}

/* .screen-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
} */

/* ANIMATIONS */

.title {
    position: relative;
    display: inline-block;
    transition: color 0.2s ease;
}

.title::after,
.title::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    height: 20px;
    bottom: -20px;
    z-index: -1;
}

.title:hover::after,
.title:hover::before {
    display: block;
    width: 100%;
    left: 0;
    bottom: -20px;
}

.title::before {
    -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: rgba(240, 62, 58, 0.781);
    border-radius: 20px;

}

.title::after {
    /* transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83); */
    -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: rgba(230, 46, 43, 0.884);
    border-radius: 20px;

}