/* Color Scheme

Red #EA0F0B
Dark Blues #000022 #010131
Gold #FFD447
White #FFFFFF
 */


body {
    font-family: 'Raleway', sans-serif;
    background-color: #F8F8F8;
    min-height: 100vh;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
}

#background-overlay {
    overflow: hidden;
    height: 100vh;
    background: #edeae8;
    position: relative;
}

video {
    position: absolute;

    /* Vertical and Horizontal center*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* establishes a semi-responsive background */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* #navbar{
    
} */

.library-links {
    display: flex;
}

.library-links>p {
    margin: 0;
}

.landing-text {
    width: 450px;
    color: #FFFFFF;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(235, 92, 90);
    ;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    margin-bottom: 20px;
    margin-top: 15px;
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 78%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(235, 92, 90);
        ;
    }
}

#login input {
    margin-top: 0;
    margin-bottom: 5px;
}

#landing {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.title {
    position: relative;
    font-size: 110px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    color: rgb(235, 92, 90);
    text-shadow: 2px 2px 3px rgba(234, 15, 11, 0.315);
    left: -2%;
    transition: 0.3s ease-in-out;
}

.title:hover {
    cursor: crosshair;
    text-shadow: 3px 3px 4px rgba(234, 15, 11, 0.315);
    /* transition: 0.3s ease-in-out; */

}

.title::selection {
    background-color: #EA0F0B;
}

#laptop {
    max-height: 175px;
    max-width: 175px;
    animation-name: laptopFade;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 35s;
}

#laptopred {
    position: absolute; 
    left:0px;
    top: 0px;
    z-index: -1;
    max-height: 175px;
    max-width: 175px;
}

@keyframes laptopFade {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    45% {
        opacity: .7;
    }
    55% {
        opacity: .25;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }

#lab {
    font-weight: 600;
    font-style: italic;
    color: rgb(238, 56, 53);
}

#lab::selection {
    background-color: #000022;
}

#login {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin: auto;
}

.uk-container{
    min-height:100vh;
}

.uk-button {
    transition: 0.2s ease-in-out;
}

.uk-button:hover {
    background-color: rgb(235, 92, 90);
    color: #000022;
}

.uk-button:active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    background-color: rgb(238, 56, 53);
    letter-spacing: 1px;
}

#password,
#username,
#submit-login,
#sign-up-button {
    border-radius: 20px;
    /* transition: 0.2s ease-in-out; */
    opacity: 0.9;
}

#password,
#username {
    background-color: #0101312d;
    color:  #F8F8F8;
}

#password:focus,
#username:focus {
    border: 2px solid rgba(234, 15, 11, 0.658);
}

#password:focus,
#username:focus,
#password:hover,
#username:hover {
    background-color: transparent;
    color: #ffffff;
}

#scroller {
    color: #FFFFFF;
    transition: 0.1s ease-in-out;
    opacity: 0.9;
}

#scroller:hover {
    color: rgb(235, 92, 90);
}

#scroller:active {
    color: rgb(238, 56, 53);
}

.library-container {
    height: 50%;
    display: flex;
}

/* USER LIBRARY */
.user-library-container {
    display: none;
    flex-direction: column;
}

.user-content-container {
    /* display: flex; */
    border-bottom: 1px rgb(235, 92, 90) solid;
    margin: 1em 0;
    transition: 0.3s ease-in-out;
}
.user-title{
    transition: 0.3s ease-in-out;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.uk-open > .user-title{
    border-bottom: 1px solid rgb(238, 56, 53);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: rgba(235, 158, 157, 0.336);
    padding-left: 5px;
    /* letter-spacing: 5px;  */
}

.uk-accordion-content{
    margin-left: 10px;
}

.star-number, .user-date{
    margin-bottom: 5px;
}

.user-date{
    font-style: italic;
}


/* FULL LIBRARY */
.category-dropdown {
display:flex;
justify-content: flex-end;

}

.concept-container {
    flex: 1;
    text-transform: capitalize;
}

.concept-category {
    text-transform: capitalize;
}

.content-container {
    flex: 2;
}

.content-title {
    border-bottom: 1.5px solid rgb(235, 92, 90);
    padding: 5px;
    margin-right: 2em;
    transition: 0.4s ease-in-out;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.content-title:hover {
    cursor: cell;
    background-color: rgba(235, 131, 129, 0.089);

}


.content-item>a {
    flex: 8;
}

/* MODIFIERS */

.active {
    background-color: rgba(234, 15, 11, 0.781);
    color: white;
}

.saved {
    color: #FFD447;
    text-shadow: 1px 1px 2px rgba(255, 212, 71, 0.507);
    size: 1.1em;
    transition: 0.2s ease;
}

.content-active{
    border: 2px solid rgb(238, 56, 53);
    border-radius: 20px;
    background-color: rgba(235, 131, 129, 0.336);
    letter-spacing: 5px; 
}

/* .closed {
    display: none;
} */

/* MODALS */

.uk-offcanvas-bar {
    background-color: #000022;
    opacity: 0.95;

}

.sign-up-modal {
    background-color: #00002242;
    opacity: 0.95;
}

.uk-modal-dialog {
    border-radius: 20px;
}

.uk-modal-header {
    background-color: #000022;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.uk-modal-header h2 {
    color: white;
}


#add-content-slider{
    transition: 0.2s ease-in-out;
}

.uk-button-danger:hover{
    border-radius: 20px;
}


.uk-modal-body input {
    background-color: #0101312d;
    border-radius: 20px;
}

.uk-modal-body input:focus {
    border: 2px solid rgba(234, 15, 11, 0.658);
    background-color: rgba(233, 136, 134, 0.473);
    color: #000022;
}

.uk-modal-footer{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#sign-up-error, #sign-up-error-email, #sign-up-success{
    display: none;
}



#sign-up-submit, #sign-up-cancel {
    transition: 0.14s ease-in;
    border-radius: 20px;
}

#sign-up-submit:hover {
    background-color: rgba(234, 15, 11, 0.781);
    letter-spacing: 1px;
    color: rgb(195, 200, 240);
    font-size: 1.05em;
}

/* .screen-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
} */

/* ANIMATIONS */

.title {
    position: relative;
    display: inline-block;
    transition: color 0.2s ease;
}

.title::after,
.title::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    height: 20px;
    bottom: -20px;
    z-index: -1;
}

.title:hover::after,
.title:hover::before {
    display: block;
    width: 100%;
    left: 0;
    bottom: -20px;
}

.title::before {
    -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: rgba(40, 42, 167, 0.781);
    border-radius: 20px;

}

.title::after {
    /* transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83); */
    -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #0e0e4eb9;
    border-radius: 20px;

}